@font-face {
	font-family: '';
	src: url('') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text: #000000;
	--grey: #acacac;
	--accent-colour: red;
--green: #81ce0f;
	font-family: var(--body-font);
	color: var(--text);
	font-size: 16px;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

main,
header,
footer {
	width: 90vw;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap-reverse; */
}

header img {
	width: calc(100% - 2rem);
	padding: 1rem;
}

main nav {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 1px solid var(--text);
	border-style: dotted none;
}


main nav a[href='#'],
li[data-confirm='undefined'],
details[data-confirm='undefined'],
p[data-confirm='undefined'] {
	display: none;
}

main nav a {
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 0.85rem;
}

main nav a:hover {
		text-decoration: underline;

}

main section {
	grid-column: 2;
	padding: 1rem 0 2rem 0;
}


h1 {
	text-align: center;
	text-transform: capitalize;
	padding: 1rem;
}

footer {
	padding: 4rem 0;
	text-align: right;
	color: var(--grey);
}

#statements,
#media {
	display: none;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
	main,
	header,
	footer {
		width: calc(100% - 2rem);
	}
}
