@font-face {
	font-family: '';
	src: url('') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text: #000000;
	--grey: #acacac;
	--accent-colour: red;
--green: #81ce0f;
	font-family: var(--body-font);
	color: var(--text);
	font-size: 16px;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

main,
header,
footer {
	width: 90vw;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	/* height: 100vh; */
	justify-content: center;
	padding: 4rem 0;
	z-index: 4;
}

header nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 4rem;
	/* flex-wrap: wrap; */
	/* justify-content: space-evenly; */
	/* border: 1px solid var(--text); */
	/* border-style: dotted none; */
	z-index: 4;
}

header nav a[href='#'],
li[data-confirm='undefined'],
details[data-confirm='undefined'],
p[data-confirm='undefined'] {
	display: none;
}

header nav a {
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 0.85rem;
}

header nav a::before {
	content: "";
  width: 4px;
  height: 4px;
  background: white;
  display: inline-flex;
  border-radius: 1rem;
  margin: 3px 0.5rem;
}

header nav a:hover::before {
	content: "";
  width: 4px;
  height: 4px;
  background: var(--text);
  display: inline-flex;
  border-radius: 1rem;
  margin: 3px 0.5rem;
}

header img {
	/* width: calc(100% - 2rem); */
	/* padding: 1rem 0; */
} 

/* header img:first-of-type {
	width: calc(50% - 2rem);
	padding: 1rem;
	margin: 0 0 0 auto;
}

header img:nth-of-type(2) {
	width: calc(100% - 2rem);
	padding: 0;
} */

main {
	display: grid;
	grid-template-columns: 40% 60%;
	position: relative;
	padding: 10vh 0;
}

main nav {
	/* display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	position: sticky;
	top: 2rem; */
	/* flex-wrap: wrap; */
	/* justify-content: space-evenly; */
	/* border: 1px solid var(--text); */
	/* border-style: dotted none; */
}


main nav a[href='#'],
li[data-confirm='undefined'],
details[data-confirm='undefined'],
p[data-confirm='undefined'] {
	display: none;
}

main nav a {
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 0.85rem;
}

main nav a:hover {
		text-decoration: underline;

}

main section {
	grid-column: 2;
	padding: 1rem 0 2rem 0;
}

main section p {
	margin: 0 0 1rem 0;
}

h1 {
	text-align: center;
	text-transform: capitalize;
	padding: 1rem;
}

footer {
	padding: 4rem 0;
	text-align: right;
	color: var(--grey);
}

#statements,
#media {
	display: none;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
	main,
	header,
	footer {
		width: calc(100% - 2rem);
	}
}
