@font-face {
	font-family: 'Authentic-90';
	src: url('AUTHENTICSans-90.woff') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Happy-Times';
	src: url('happy-times-NG_regular_master.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-font: 'Authentic-90', sans-serif;
	--title-font: 'Authentic-90', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text: #000000;
	--grey: #acacac;
	--red: red;
	--green: #00e526;
	font-family: var(--body-font);
	color: var(--text);
	font-size: 16px;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

main,
header,
footer {
	width: 90vw;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	/* height: 100vh; */
	justify-content: center;
	padding: 4rem 0;
	z-index: 4;
}

header nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 4rem;

	/* flex-wrap: wrap; */
	/* justify-content: space-evenly; */
	/* border: 1px solid var(--text); */
	/* border-style: dotted none; */
	z-index: 4;
}

header nav a[href='#'],
li[data-confirm='undefined'],
details[data-confirm='undefined'],
p[data-confirm='undefined'] {
	display: none;
}

header nav a {
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 0.85rem;
	font-family: var(--title-font);
}

header nav a::before {
	content: '';
	width: 4px;
	height: 4px;
	background: white;
	display: inline-flex;
	border-radius: 1rem;
	margin: 3px 0.5rem;
}

header nav a:hover {
	color: var(--green);
}

header nav a:hover::before {
	content: '';
	width: 4px;
	height: 4px;
	background: var(--green);
	display: inline-flex;
	border-radius: 1rem;
	margin: 3px 0.5rem;
}

main {
	display: grid;
	grid-template-columns: 40% 60%;
	position: relative;
	padding: 10vh 0;
}

main nav a[href='#'],
li[data-confirm='undefined'],
details[data-confirm='undefined'],
p[data-confirm='undefined'],
main section p[data-confirm='undefined'],
main section em[data-confirm='undefined'] {
	display: none;
}

main nav a {
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 0.85rem;
}

main nav a:hover {
	text-decoration: underline;
}

main section {
	grid-column: 2;
	font-size: 1.25rem;
}

main section p:first-of-type {
	padding-top: 4rem;
	text-transform: uppercase;
	font-family: var(--body-font);
	font-size: 2rem;
}

main section p {
	margin: 0 0 1rem 0;
}

main section li {
	list-style: none;
}

main .signatories em {
	font-style: normal;
	/* color: var(--grey); */
	margin-left: 1rem;
	text-transform: none;
	font-size: 0.85rem;
}

main .signatories em:nth-of-type(1)::after {
	content: 'total';
	margin-left: 0.25rem;
}

main .signatories div {
	padding-bottom: 1rem;
}

main .signatories div a:nth-of-type(1)::before {
	content: '+';
}

main .signatories div a {
	color: var(--green);
	text-decoration: none;
}

main section details {
	cursor: pointer;
}

main section details summary div {
	padding: 1rem;
}

main section details .faq {
	text-transform: none;
	font-size: 1.25rem;
	padding: 1.25rem;
	border-left: 2px solid var(--green);
	margin-left: 4px;
	text-align: justify;
}

h1 {
	text-align: center;
	text-transform: capitalize;
	padding: 1rem;
}

footer {
	padding: 4rem 0;
	text-align: right;
	color: var(--grey);
}

#statements,
#media {
	display: none;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
	main,
	header,
	footer {
		width: calc(100% - 2rem);
	}
}
